.about_wrapper {


  .what_for_section {
    @extend %fc;
    width: 100%;
    background: #202225;
    margin: 200px 0 100px;

    @media #{$mobile} {
      margin-top: 50px;
    }
  }

  .what_for_wrapper {
    @extend %fsb;
    width: 1020px;

    .what_for_text {
      @extend %fcc;
      max-width: 440px;
      margin-left: 55px;

      @media #{$mobile} {
        text-align: center;
        margin: 0 20px;
        width: auto;
        max-width: none;
      }

      p {
        font-size: 19px;
      }
    }

    img {
      animation: up_down 4s infinite alternate ease-in-out;

      @media #{$mobile} {
        display: none;
      }
    }

    @keyframes up_down {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(20px);
      }
    }
  }

  .who_we_are {
    @extend %fc;
    width: auto;
    margin-bottom: 100px;
  }

  .who_we_are_wrapper {
    @extend %fcc;
  }

  .who_we_are_text {
    @extend %fcc;
    max-width: 755px;
    text-align: center;

    @media #{$mobile} {
      margin: 0 20px;
      max-width: none;
    }

    p {
      margin: 0;
    }
  }

  .who_we_are img {
    width: 115px;
    height: 140px;
  }

  .how_many {
    @extend %fc;
    width: auto;
    padding-top: 70px;
    padding-bottom: 200px;
    background: white;

    @media #{$mobile} {
      padding-bottom: 50px;
    }
  }

  .how_many_wrapper {
    @extend %fcc;
  }

  .how_many_text {
    @extend %fcc;
    text-align: center;
    margin-bottom: 50px;

    h2 {
      color: #4F545C;
    }

    p {
      margin: 0;
    }
  }

  .how_many_statistic {
    box-sizing: border-box;
    width: 940px;
    @extend %fsa;
    flex-wrap: wrap;

    p {
      font-size: 18px;
      margin-top: 0;
    }

    @media #{$mobile} {
      margin: 0 10px;
      width: auto;
    }
  }

  .statistic_child {
    @extend %fcc;
  }

  .pik {
    @media #{$mobile} {
      margin: 0 30px;
    }

    @media #{$mobile320} {
      margin: 0;
    }
  }

  .who_we_are img {
    width: 115px;
    height: 140px;
  }

  .reviews {
    @extend %fcc;
    width: auto;
    background: linear-gradient(#e3e7f8 50%, #7684da) 0 0 no-repeat;
    background-size: contain, 100%;
  }

  .reviews_wrapper {
    @extend %fcc;
    width: 100%;
    background: linear-gradient(#fff, #fff) 0 0 no-repeat;
    background-size: 100% 60%;
  }

  .reviews_text {
    @extend %fcc;
    text-align: center;
    margin-bottom: 50px;

    h2 {
      color: #4F545C;
    }
  }

  .feedback {
    @extend %fsb;
    width: 1200px;
    flex-wrap: wrap;

    @media #{$tabletPortrait}, #{$mobile} {
      width: auto;
      max-width: 745px;
      justify-content: space-around;
    }
  }

  .feedback_child {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 450px;
    box-sizing: border-box;
    padding: 40px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 9px 30px 0 rgba(35, 39, 42, .1);

    & img {
      border-radius: 50%;
      height: 72px;
      width: 72px;
    }

    .user_name {
      margin-top: 5px;
      margin-bottom: 20px;
      color: #AEB5BD;
      font-weight: 300;
    }


    a {
      background: none;
      bottom: 20px;
      right: 20px;
      display: block;
      position: absolute;

      img {
        width: 26px;
        height: 21px;
      }
    }
  }

  //.leave_it_here {
  //  align-self: flex-start;
  //
  //  @media #{$mobile} {
  //    align-self: center;
  //  }
  //
  //  h3 {
  //    color: white;
  //    margin: 50px 20px;
  //
  //    @media #{$tabletPortrait}, #{$mobile} {
  //      margin-bottom: 20px;
  //    }
  //  }
  //}
  //
  //.quotes {
  //  @extend %fsa;
  //  box-sizing: border-box;
  //  width: 100%;
  //  padding: 0 20px;
  //
  //  @media #{$tabletPortrait}, #{$mobile}  {
  //    flex-flow: row wrap;
  //    justify-content: space-around;
  //  }
  //
  //  .quotes_child {
  //    width: 33%;
  //
  //    @media #{$tabletPortrait}, #{$mobile} {
  //      width: 100%;
  //    }
  //
  //    p {
  //      color: white;
  //      margin-bottom: 45px;
  //
  //      @media #{$tabletPortrait}, #{$mobile} {
  //        margin-bottom: 20px;
  //      }
  //    }
  //
  //    div {
  //      margin-bottom: 20px;
  //    }
  //  }
  //
  //  .moderator {
  //    margin: 0 20px;
  //  }
  //
  //  .mashable p {
  //    margin-bottom: 25px;
  //  }
  //}

  .investors {
    @extend %fc;
    width: 100%;
    padding: 130px 0;
    background: white;

    @media #{$mobile}  {
      padding: 50px 0;
    }
  }

  .investors_wrapper {
    @extend %fc-s;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 35px;
  }

  .investors_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 35%;

    @media #{$mobile}  {
      flex-basis: 85%;
      text-align: center;
    }

    h2 {
      color: #4F545C;
      font-weight: 300;

      @media #{$mobile}  {
        align-self: center;
      }
    }
  }

  .investors_name {
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 65%;
    flex-wrap: wrap;
    background-color: white;
    padding-left: 30px;
    box-sizing: border-box;

    @media #{$mobile}  {
      justify-content: center;
      flex-basis: auto;
      padding-left: 0;
    }
  }

  .investors_name_child {
    @extend %fc;
    flex-basis: 20%;
    height: 200px;
    margin-bottom: 30px;
    min-width: 175px;
    padding: 0 10px;
    box-shadow: 0 0 35px 5px rgba(35, 39, 42, .1);

    a {
      @extend %fc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }

  .joinAccord {
    width: 100%;
    background: white;
  }

  .joinAccord_wrapper {
    @extend %fcc;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .joinAccord_text {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 65%;

      h2 {
        color: #4F545C;
        font: {
          size: 25px;
          weight: 300;
        }
        line-height: 1.3;
      }
    }

    .joinAccord_vacancies {
      margin-top: 50px;
      text-align: center;
      background-color: #7289DA;
      border-radius: 3px;
      padding: 15px;

      &:hover {
        transform: scale(0.9);
      }

      a {
        text-decoration: none;
        color: white;
      }
    }

    img {
      width: 100%;
    }
  }


}
