html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background: #222222;
  color: white;
}

header {
  color: #fff;
  width: 100%;
}

h4{
  color:#899CE0;
  font: {
    size: 18px;
    weight: 500;
  }
}