.index_wrapper {

  .main_section {
    @extend %fcc;
    width: 100%;
  }

  .main__upper {
    @extend %fcc;
    box-sizing: border-box;
    max-width: 800px;
    margin-top: 50px;

    @media #{$mobile} {
      max-width: 700px;
      text-align: center;
    }

    @media #{$mobile545} {
      max-width: 500px;
    }

    @media #{$mobile480} {
      max-width: 335px;
    }

    @media #{$mobile375} {
      max-width: 285px;
    }

    .button_wrapper {
      width: 540px;
      @extend %fsb;

      @media #{$mobile} {
        flex-direction: column;
      }
    }

    .button {
      display: block;
      box-sizing: border-box;
      width: 250px;
      background-color: #fff;
      border-radius: 5px;
      color: #18191c;
      text-decoration: none;
      text-align: center;
      padding: 15px 15px;

      font {
        size: 10px;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    .open_accord {
      background-color: #7289DA;
      color: white;
    }

    .button-mobile {
      display: none;

      @media #{$mobile} {
        display: block;
      }
    }
  }

  .main__bottom {
    position: relative;
    width: 100%;
    height: 650px;
    background: url("../img/elements/elements.png") no-repeat;

    img {
      position: absolute;

      @media #{$mobile767} {
        display: none;
        height: 300px;
      }
    }

    @media #{$mobile767} {
      height: 300px;
    }

    @media #{$tabletLandscape}, #{$tabletPortrait} {
      left: -110px;
    }

    @media #{$mobile} {
      background: none;
    }

    .mob1 {
      @media #{$mobile767} {
        display: block;
        bottom: auto;
        left: 20%;
        top: 20%;
      }
      @media #{$mobile545} {
        left: 5%;
      }

      @media #{$mobile320} {
        left: 25%;
      }
    }
    .mob2 {
      @media #{$mobile767} {
        display: block;
        bottom: auto;
        left: 55%;
        top: 20%;
      }

      @media #{$mobile320} {
        display: none;
      }
    }
  }

  .question {
    left: 415px;
    top: 90px;
  }

  .monitor_big {
    left: 380px;
    top: 160px;
  }

  .laptop {
    left: 665px;
    top: 280px;

    @media #{$tabletPortrait} {
      display: none;
    }
  }

  .mob1 {
    top: 375px;
    left: 260px;
  }

  .mob2 {
    top: 380px;
    left: 105px;
  }

  .mixture {
    top: 425px;
    left: 50px;
  }

  .joystick {
    top: 520px;
    left: 410px;
  }

  .earphones {
    top: 258px;
    right: 225px;

    @media #{$tabletLandscape} {
      right: -80px;
    }

    @media #{$tabletPortrait} {
      display: none;
    }
  }

  .coin_left {
    top: 258px;
    left: 200px;
  }

  .coin_right {
    top: 40px;
    right: 520px;
  }

  .bomb {
    top: 235px;
    left: 150px;
    animation: up_down 1.5s infinite alternate ease-in-out;
    animation-delay: .4s;
  }

  .coin_left, .coin_right {
    animation: up_down 1.5s infinite alternate ease-in-out;
  }

  @keyframes up_down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
}


