.registration_wrapper {
  width: auto;
  height: 900px;
    background: url("/img/solntse_gory_ozero_pejzazh.jpg") no-repeat;
    //background: url("/img/olen_art_vektor_1600x1200.jpg") no-repeat;

  @media #{$mobile}  {
    height: 680px;
  }

  @media #{$mobile545}  {
    height: 0px;
  }

  p{
    font: {
      size: 12px;
    }
    text-Transform: uppercase;
  }

  h2 {
    font-weight: 300;
  }

  .logo {
    height: 50px;
    width: auto;
    position: absolute;
    top: 5%;
    left: 5%;

    @media #{$mobile545}  {
      display: none;
    }
  }

  .registration {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 480px;
    height: 460px;
    box-sizing: border-box;
    padding: 10px;
    background: #36393F;
    border-radius: 3px;

    @media #{$tabletPortrait}, #{$mobile}  {
      left: 20%;
      top: 20%;
    }
    @media #{$mobile545}  { //работает на 544!
     width: 100%;
      height: auto;
      position: inherit;
    }
  }

  .registration_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  input {
    box-sizing: border-box;
    width: 400px;
    border: none;
    border-radius: 3px;
    padding: 10px;

    @media #{$mobile545}  {
      width: 300px;
    }
  }

  .fields {
    margin-bottom: 25px;
  }

  #continue {
    color: white;
    background: #7289DA;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .already_registered {
    align-self: flex-start;
    margin-left: 32px;
  }

  a {
    text-decoration: none;
    color: #7289DA;
    font-size: 14px;
  }
}
