.support_wrapper {
  background: white;

  .header {
    background: white;

    &_wrapper {
      @extend %fsb;
      width: 85%;
      margin: 0 auto;
      height: 70px;

      @media #{$mobile480} {
        text-align: center;
        width: 255px;
        line-height: 1.8;
      }

      .logo-container__img {
        max-height: 37px;
      }

      .navigation__link {
        color: #7289DA;
        text-decoration: none;
        margin-right: 20px;
      }
    }
  }

  .help-center {
    @extend %fc;
    background: url("/img/fon-support.png") no-repeat;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    &_wrapper {
      box-sizing: border-box;
      max-width: 70%;
      @extend %fcc;

      h2 {
        position: absolute;
        top: 115px;
      }

      .search-form {
        position: absolute;
        width: 75%;
        margin: 0 auto;
        background: white;

        input, button {
          border: none;
          outline: none;
          background: transparent;
        }

        input {
          width: 100%;
          height: 62px;
          padding-left: 15px;
          font-size: 14px;
        }

        button {
          height: 25px;
          width: 25px;
          position: absolute;
          top: 20px;
          right: 15px;
          cursor: pointer;
          background: url("/img/icons-search.png");
          background-size: contain;
        }
      }
    }
  }

  .need-help {
    @extend %fcc;
    margin-top: 100px;
    margin-bottom: 115px;
    width: 100%;
    color: #4F545C;

    @media #{$mobile} {
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 0 20px;
      box-sizing: border-box;
    }

  }

  .blocks {
    @extend %fc;
    flex-flow: row wrap;
    padding: 0 120px;

    &__link {
      box-sizing: border-box;
      text-decoration: none;
      width: 240px;
      height: 260px;
      margin-right: 25px;
      margin-bottom: 25px;
      padding: 10px;
      text-align: center;
      box-shadow: 0px 9px 30px rgba(200, 200, 200, 0.30);
    }

    p {
      font-size: 14px;
      font-weight: 400;
      width: 200px;
      margin: -10px auto 0;
      color: #68727e;
    }

    hr {
      height: 1px;
      border: none;
      background-color: #99aab5;
      opacity: .5;
      width: 50px;
      margin: -6px auto 20px;
    }
  }

  .blocks__child img {
    width: 106px;
    height: auto;
  }

  .tweet-us {
    color: #4F545C;
    text-align: center;
    margin-top: 120px;

    a {
      text-decoration: none;
    }

    .twitter-btn {
      text-transform: uppercase;
      font-weight: 600;
      padding: 8px 4px 8px 28px;
      color: white;
      background-color: #55acee;
      width: 136px;
      margin: 0 auto;
      border-radius: 3px;
      position: relative;
    }

    .twitter-btn:before {
      background: url(/img/twitter-white.png);
      background-size: 16px;
      margin-right: 24px;
      width: 16px;
      height: 16px;
      content: "";
      position: absolute;
      left: 14px;
      top: 11px;
    }
  }

  .footer {
    background: url("/img/fon-with-elements.png") repeat;
    background-size: contain;
    width: 100%;
    position: relative;
    margin-top: 80px;
    padding-top: 85px;

    .footer-logo-container__img {
      height: 35px;
      width: auto;
      position: absolute;
      left: 30px;
      top: 50%;
    }
  }

  .footer_wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;

    &__upper_child {
      @extend %fc;
      box-sizing: border-box;
      padding-bottom: 20px;
      border-bottom: 1px solid #4F545C;

      @media #{$mobile} {
        flex-flow: row wrap;
        padding: 0 50px 20px 65px;
        justify-content: space-around;
      }


      a {
        margin-right: 50px;

        @media #{$mobile} {
          margin-right: 30px;
          margin-bottom: 10px;
        }

        &:nth-child(2n) {
          margin-left: 65px;

          @media #{$mobile545} {
            margin-left: 20px;
          }
        }
      }
    }


    &__bottom {
      @extend %fsa;
      padding: 30px 120px 50px 0;
      line-height: 1.5;

      @media #{$mobile} {
        padding-right: 0;
      }

      .footer-logo-container {
        @media #{$mobile} {
          display: none;
        }
      }

      &_child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media #{$mobile320} {
          font-size: smaller;
        }

        & a {
          text-decoration: none;
          color: #7B7D80;
        }
      }
    }


  }


}

